[package]
name = "tokio-zookeeper"
version = "0.1.3"

description = "Asynchronous client library for interacting with Apache ZooKeeper"
readme = "README.md"

authors = ["Jon Gjengset <jon@thesquareplanet.com>"]

homepage = "https://github.com/jonhoo/tokio-zookeeper"
repository = "https://github.com/jonhoo/tokio-zookeeper.git"

keywords = ["zookeeper", "tokio", "asynchronous"]
categories = ["api-bindings", "asynchronous", "network-programming"]

license = "MIT/Apache-2.0"

[badges]
travis-ci = { repository = "jonhoo/tokio-zookeeper" }
maintenance = { status = "experimental" }

[dependencies]
futures = "0.1"
tokio = "0.1"
failure = "0.1"
byteorder = "1.2"
lazy_static = "1.0"
slog = "2.3.2"
#slog = { version = "2.3.2", features = ['max_level_trace'] }

[dev-dependencies]
slog-async = "2.3.0"
slog-term = "2.4.0"
